html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}
.display-1 {
	color: aliceblue;
}
.display-4 {
	color: aliceblue;
}
body {
	background-color: #333;
}
  
.container {
	max-width: 960px;
}
  
.pricing-header {
	max-width: 900px;
}
