{%extends "header.html"%}

{%block title%} HOla hOLA{%endblock%}

{%block content%}
<div class="portada">
    <h1>Log-in</h1>
    
    <form action="{{url_for('reg')}}" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name"><br>
        <br>
        <label for="nickname">Nickname</label>
        <input type="text" id="name" name="nickname"><br><br>
        <br>
        <label for="passw">password</label>
        <input type="password" id="edad" name="passw"><br><br>
        <button type="submit" id="send" name="data" >Register</button>
    </form>
    <br>
</div>
<div class="Data">
    <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Nickname</th>
          <th>Password</th>
        </tr>
        {% for r in usuarios: %}
        <tr>
            <td>{{ r.name }}</td> 
            <td>{{ r.nickname }}</td> 
            <td>{{ r.passw }}</td> 
            <td><a type="button"href="{{url_for('redes')}}"></td>
            
        </tr>
        {% endfor %}
      </table>

</div> 






{%endblock%}