{% extends 'base.html' %}

{% block body %} 

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">Simulador de crédito</h2>
    <div class="alert alert-primary" role="alert">
        Ingrese los datos para poder simular.
    </div>
    <form method="post" action="{{url_for('sim')}}">
        <div class="form-group row">
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Nombre simulación</label>
                <input name ="creditname" type="text" class="form-control" placeholder="Santader" required>
            </div>
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Monto de crédito</label>
                <input name ="creditamount" min=1000000 max=10000000 type="number" class="form-control" placeholder="1000000" required>
            </div>
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Plazo en meses</label>

                <input name ="creditterm" min=2 max=48 type="number" class="form-control" placeholder="2 - 48" required>

            </div>
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Interes de crédito</label>
                <input name ="creditinterest" min=0 max=100 type="number" step="any" class="form-control" placeholder="1.2" required>
            </div>
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Gastos asociados</label>
                <input name ="creditexpense" min=0 max=10000000 type="number" class="form-control" placeholder="5000" required>
            </div>
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Seguro Desgravamen</label>
                <input name ="creditinsurance" min=0 max=10000000 type="number" class="form-control" placeholder="6000" required>
            </div>
            <div class="col-sm-4 col-form-label">
                <label class ="text-light">Seguros extra</label>
                <input name ="creditinsuranceextra" min=0 max=10000000 type="number" class="form-control" placeholder="6000" required>
            </div>
        </div>
        <button class="btn btn-primary col-md-6 mb-3" name="simulate" type="submit">Simular</button>
    </form>
</div>
<!-------------------------------------------------------------------------->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-1 mx-auto text-center">
            <h1 class="display-4">Comparador</h1>
        
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        
        <table class="table table-dark table-sm table-bordered table-striped">
    
            <thead>
                <tr class="table-active" style="font-size:14px">
                    <th scope="col">Institución</th>
                    <th scope="col">Monto Solicitado</th>
                    <th scope="col">CAE</th>
                    <th scope="col">Tasa de interés mensual</th>
                    <th scope="col">Gastos asociados</th>
                    <th scope="col">Seguro Desgravamen</th>
                    <th scope="col">Seguros extra</th>
                    <th scope="col">Monto bruto crédito</th>
                    <th scope="col">Costo total</th>

                </tr>
                
                {%for s in simulaciones%} 
                <tr class="table-active" style="font-size:14px">
                    <td>{{ s.nombre }}</td>
                    <td>{{ s.monto }}</td>
                    <td>{{ s.cae }}</td>
                    <td>{{ s.interes }}</td>
                    <td>{{ s.gastos_asociados }}</td>
                    <td>{{ s.seguro_desgravamen }}</td>
                    <td>{{ s.seguros_extra }}</td>
                    <td>{{ s.monto_bruto }}</td>
                    <td>{{ s.monto_final }}</td>

                </tr>
                {% endfor %}
                
                
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock %}
